provider:
  name: gitea

resources:
  user:
    create:
      path: /admin/users
      method: POST
    read:
      path: /users/{username}
      method: GET
    update:
      path: /admin/users/{username}
      method: PATCH
    delete:
      path: /admin/users/{username}
      method: DELETE
    schema:
      attributes:
        aliases:
          username: id
  
  org:
    create:
      path: /orgs
      method: POST
    read:
      path: /orgs/{org}
      method: GET
    update:
      path: /orgs/{org}
      method: PATCH
    delete:
      path: /orgs/{org}
      method: DELETE
    schema:
      attributes:
        aliases:
          username: id

  repository:
    create:
      path: /user/repos
      method: POST
    read:
      path: /repos/{owner}/{repo}
      method: GET
    update:
      path: /repos/{owner}/{repo}
      method: PATCH
    delete:
      path: /repos/{owner}/{repo}
      method: DELETE
    schema:
      attributes:
        aliases:
          name: id
      ignores:
        - parent

data_sources:
  user:
    read:
      path: /users/{username}
      method: GET
    schema:
      attributes:
        aliases:
          username: id
  
  org:
    read:
      path: /orgs/{org}
      method: GET
    schema:
      attributes:
        aliases:
          name: id

  repository:
    read:
      path: /repos/{owner}/{repo}
      method: GET
    schema:
      attributes:
        aliases:
          name: id
      ignores:
        - parent
